{% extends '::layout.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This sandbox is a test platform which focuses on the most useful functionality of the JungiThemeBundle.</p>
    <p class="lead">Thanks for downloading and I hope you will enjoy it. <span class="glyphicon glyphicon-thumbs-up"></span></p>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>What is included?</h4>
        <p>
            The sandbox contains a simple structure of environments which are used in controllers and two themes.
        </p>
    </div>
    <div class="col-sm-12">
        <h4>How these environments works?</h4>
        <p>
            The resolved controller decides about an environment for the request - thanks to that a theme resolver knows
            which theme it should use.
        </p>
    </div>
    <div class="col-sm-12">
        <h4>About the themes</h4>
        <p>
            There're two themes in the project: <b>jungi_bootstrap</b> and <b>jungi_bootstrap_admin</b> which are located
            in the <b>JungiBootstrapThemeBundle</b>. As you could notice the <b>jungi_bootstrap</b> is designed for the
            <b>default</b> environment and <b>jungi_bootstrap_admin</b> is designed for the <b>admin</b> environment.
        </p>
    </div>
</div>
{% endblock %}