<div class="theme-detail">
    <div class="row collapse">
        <div class="column large-6">
            <h4>Basic information</h4>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{ theme.name }}</dd>
            </dl>
        </div>
        <div class="column large-6">
            <h4>Tags</h4>
            {% for tag in theme.tags %}
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ tag.name }}</dd>
                </dl>
            {% else %}
                <p>There is no any tag for the theme.</p>
            {% endfor %}
        </div>
    </div>
</div>